/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #8B0000, #B22222);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container do login */
.login-container {
    background-color: #fff0f0;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(139, 0, 0, 0.4);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #8B0000;
}

/* Inputs */
.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #cd5c5c;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    transition: 0.3s;
}

.login-container input:focus {
    border-color: #8B0000;
    outline: none;
}

/* Botão */
.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #B22222;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-container button:hover {
    background-color: #8B0000;
}